/*============ Resets ============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*============ Container ============*/

.container {
  background-image: url("https://i.gifer.com/g1vA.gif");
  min-height: 100vh;
  background-size: cover;
  padding: 50px;
}

/*============ Search Bar ============*/

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

#search-input {
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
}

#search-button {
  cursor: pointer;
  font-size: 22px;
  padding: 10px 20px;
  margin-left: 10px;
  color: black;
  border: none;
  border-radius: 10px;
  background-color: rgba(230, 234, 240, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(116, 232, 44, 0.1);
  border: 1px solid rgba(163, 217, 56, 0.3);
}

/*============ Weather Card ============*/

#weather-card {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  display: none;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
}

#weather-card-header {
  margin-bottom: 10px;
}

#weather-card-header > h1 {
  font-size: 30px;
  font-weight: bold;
}

#weather-card-header > span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.weather-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-card-body > h1 {
  font-size: 40px;
}

.weather-card-body > h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.weather-card-body > h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: monospace;
}

#weather-icon {
  width: 150px;
  height: 150px;
}

.weather-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  overflow: hidden;
}

.weather-card-footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5000px);
}

.weather-card-footer-item > h3 {
  font-size: 20px;
}

.weather-card-footer-item > h3 {
  font-size: 16px;
}

.weather-card-footer-item > img {
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
}

/*============ Loading Indicator ============*/

.loading {
  display: none;
  width: 100%;
}

.loading > img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

/*============ Error Message ============*/

.error-message {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin: 50px 0;
  font-weight: bold;
}

/*============ Toast Message ============*/

.toast-message-container {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.toast-message {
  text-align: center;
  font-size: 20px;
  margin: 50px 0;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.toast-message.success {
  background-color: #13bc59;
}

.toast-message.error {
  background-color: #d01313;
}

/*============ Responsiveness ============*/

@media screen and (max-width: 740px) {
  .weather-card-footer-item {
    width: 40%;
  }
}

@media screen and (max-width: 517px) {
  .weather-card-footer-item {
    width: 100%;
  }

  .container {
    padding: 20px;
  }

  #search-bar {
    flex-direction: column;
    gap: 10px;
  }
}
